#page-title {
    text-align: center;
}

body {
    background-color: darkseagreen;
    margin: 30px;
}

#nav-bar {
    display: flex;
    justify-content: space-around;
}

#nav-bar h1 {
    background-color: lightcyan;
    padding: 10px;
    border-radius: 10px;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 12px; */
    padding: 20px;
    background-color: lightcyan;
    ;
    min-width: 700px;
    max-width: 900px;
    border-radius: 50px;
    /* height: 200px; */
}

.input-container {
    margin: 12px;
}

section {
    margin: 12px;
    padding: 20px;
    background-color: lightgray;
}


/* card-grid*/
#itemdata-container {
    display: flex;
    justify-content: center;
    display: grid;
    /* automatoc no of columns */
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 1rem;
    align-items: flex-start;
}

/* #products-container {
    background-color: white;
    border: 5px solid brown;
   
}   */
/* card */
.items-container {
    background-color: lightcyan;
    border: 5px solid darkcyan;
   /*  padding: 10px; */
    max-width: 200px;
    text-align: center;
    border-radius: 10px;
 /*  padding: 1rem;
      margin: 10px; 
    margin-bottom: 10px;*/
    overflow: hidden;
    transition: 200ms transorm ease-in-out;
}

.items-container > img {
 /*    max-width: 200px; */   
    display: block;
    width: 100%;
    aspect-ratio: 3 /2 ; 
    object-fit: cover;
    object-position: center;
    max-height: 200px;
   /*  width: 200px;
    height: 200px;*/    
}


.items-container:hover  {
    transform: scale(1.025);
}
/* button{
    width: 100px;
} */



#search-item {
    border-radius: 60px;
    font-size: 16px;
    background-color: aliceblue;
    height: 30px;
    width: fit-content;
    width: 300px;
    margin: 12px;
    padding: 5px 20px;
}

#search-btn {
    background-color: lightcyan;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 300;
}

#item-data {
    background-color: lightcyan;
    /*    border: 5px solid darkcyan; */
    width: 400px;
    text-align: center;
    border-radius: 10px;
    margin: 12px;
}

