#nav-bar{
    display: flex;
    justify-content: space-around;
}
#nav-bar h1{
     background-color: lightcyan;
     padding: 10px;
     border-radius: 10px;
}

#page-title{
    text-align: center;  
 } 

#itemdata-container{
    background-color: lightcyan;
    border: 5px solid darkcyan;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2rem;
}

body{
    background-color: darkseagreen;;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#note{
    margin: 10px;
}